[Unit]
Description=PyKitMoney

[Service]
Type=oneshot
ExecStart=<full project path>/.venv/bin/python3 -m pykitmoney.main
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
